.card_list {
  margin: calc(var(--base-grid) * 2) auto calc(var(--base-grid) * 5);
  display: grid;
  grid-row-gap: calc(var(--base-grid) * 8);
  grid-column-gap: calc(var(--base-grid) * 6);
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--base-grid) * 35), 1fr));
  justify-items: center;
}
